<h3>Edit author <%= @author.first_name + ' ' + @author.last_name %></h3>
<%= form_for @author do |f| %>
    <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <%= f.submit 'Update Author', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', class: 'btn bnt-default' %>
<% end %>
