<h2>Add New Publisher</h2>
<%= form_for @publisher do |f| %>

    <% if @publisher.errors.any? %>
        <div class="alert alert-warning">
            <ul>
                <% @publisher.errors.full_messages.each do |errMsg| %>
                    <li><%= errMsg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <%= f.submit 'Add Publisher', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', publishers_path, class: 'btn btn-default' %>
<% end %>
