<h1>Edit "<%= @book.title %>"</h1>
<%= form_for @book do |f| %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :category_id %>
        <%= f.select :category_id, Category.all.collect{|cat| [cat.name, cat.id]}, {:include_blank => 'Choose a Category'}, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :author_id %>
        <%= f.select :author_id, Author.all.collect{|author| [author.first_name + ' ' + author.last_name, author.id]}, {:include_blank => 'Select from the authors'}, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :publisher_id %>
        <%= f.select :publisher_id, Publisher.all.collect{|publisher| [publisher.first_name + ' ' + publisher.last_name , publisher.id]}, {:include_blank => 'Select from publishers'}, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :coverpath %>
        <%= f.text_field :coverpath, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :isbn %>
        <%= f.text_field :isbn, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :year %>
        <%= f.date_field :year, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :buy %>
        <%= f.text_field :buy, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :excerpt %>
        <%= f.text_area :excerpt, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :format %>
        <%= f.text_field :format, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :pages %>
        <%= f.number_field :pages, class: 'form-control' %>
    </div>

    <%= f.submit 'Update Book', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', book_path, class: 'btn btn-default' %>
<% end %>
